:root {
  --primary: #4337C9;
  --primary-rgb: 67, 55, 201;
}

.language-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    background-color: #0c00061a;
    border-radius: 25px;
    padding: 10px;
    z-index: 1000;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .language-switcher {
        position: inherit;
        top: 10px;
        right: 50px;
        display: flex;
        background-color: #0c00061a;
        border-radius: 25px;
        padding: 10px;
        z-index: 1000;
    }
}
.flag {
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 50%; /* Make the flags rounded */
}

#usa {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png');
    background-size: cover;
}

#brazil {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1280px-Flag_of_Brazil.svg.png');
    background-size: cover;
}

/* If you have any specific pink color references like: */
.text-primary {
  color: rgb(67, 55, 201);
}

.bg-primary {
  background-color: rgb(67, 55, 201);
}

.border-primary {
  border-color: rgb(67, 55, 201);
}
